@import "./_utils/variables-mixins";
@import "./_base/bases";
@import "./_base/fonts";

@import "./_components/class-html-component";
@import "./_layout/header";
@import "./_page/acceuil";

@import "./_page/pagemenu";
@import "./_layout/footer";







