// modules html//

.title-section {
    @include title-section;
    padding-left: 20px;
}

.text-subtitle {
    @include text-subtitle(100);
}

.button {
    font-size: 1em;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 2em;
    background: $gradient-color;
    @include box-shadow(black);
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include screen-only {

     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;

    }
    }
