// modules html//

.title-section {
    @include title-section;
    padding-left: 20px;
}

.text-subtitle {
    @include text-subtitle(100);
}

.button {
    font-size: 1em;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 2em;
    background: $gradient-color;
    @include box-shadow(grey);
    cursor: pointer;

    &:hover {
        box-shadow: 9px 9px 20px -0.4em grey;
        background: $gradient-color-light;
        transition: transform 0.3s;
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
    }

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include little-screen-only {

        flex-direction: row;
        //! center avant 
        justify-content: space-between;
        margin: auto;
        flex-wrap: wrap;

    }
}

//HEART
.heart_icone {
    display: flex;
}

.heart_icone-visible {
    overflow: hidden;
    position: relative;
    clip-path: url(#heart_icone-svg-path);
    //taille du background;
    height: 100px;
    width: 100px;
    transform: scale(0.29);

    @include medium-screen-only {
        transform: scale(0.4);

    }
}
#heart_icone-visible-path,
#heart_icone-visible-path-1,
#heart_icone-visible-path-2,
#heart_icone-visible-path-3,
#heart_icone-visible-path-4 {
    fill: none;
    stroke: black;
    stroke-width: 1em;
}

.background-radient {

    opacity: 1;
    position: absolute;
    top: 0;
    background: $gradient-color;
    transform: translateY(100px);
    transition: transform 0.5s ease-out;
    width: 100%;
    height: 100%;
}

.heart_icone-visible:hover .background-radient {
    transform: translateY(0);
}