.img_background_1 {
  background-image: url("../images/restaurants/la-palette-du-gout-4402.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36vmax;
  z-index: 0;
}

.img_background_2 {
  background-image: url("../images/restaurants/la-note-enchantee-3024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36vmax;
  z-index: 0;
}

.img_background_3 {
  background-image: url("../images/restaurants/a-la-francaise-3936.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36vmax;
  z-index: 0;
}

.img_background_4 {
  background-image: url("../images/restaurants/le-delice-des-sens-3641.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36vmax;
  z-index: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1400px) {
  a:hover {
    transform: scale(1.1);
    transition: 100ms;
  }
}

.title-section {
  font-weight: bold;
  font-size: 1.7em;
  padding-left: 20px;
}

.text-subtitle {
  font-size: 1.3em;
  font-weight: 100;
  line-height: 1.6em;
}

.button {
  font-size: 1em;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 2em;
  background: linear-gradient(#FF79DA, #a16be0);
  box-shadow: 5px 5px 30px -0.8em black;
  cursor: pointer;
}
.button:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width: 1400px) {
  .container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
  box-shadow: 0 15px 25px -1.4em #9e9d9d;
}
@media (min-width: 1400px) {
  .header {
    position: fixed;
    background-color: white;
    width: 100%;
  }
}
.header .header_logo {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  margin-bottom: 0;
}

.discovery {
  background-color: whitesmoke;
  text-align: center;
  padding-bottom: 50px;
}
.discovery_form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 12px;
  background-color: #e9e9e9;
}
.discovery_form_text {
  text-align: center;
  border: none;
  max-width: 150px;
  background-color: #e9e9e9;
  font-size: 1.1em;
  font-weight: 100;
}
@media (min-width: 1400px) {
  .discovery_form_text {
    margin-top: 70px;
  }
}
.discovery_form_text:focus {
  outline: none;
}
.discovery_form_text::placeholder {
  color: black;
}
.discovery_form i {
  font-size: 1.1em;
  font-weight: 0;
}

.functioning {
  padding: 30px 0 50px 0;
}
@media (min-width: 1400px) {
  .functioning {
    padding: 30px 13vw 50px 13vw;
  }
}
@media (min-width: 599px) {
  .functioning {
    padding: 30px 13vw 50px 13vw;
  }
}
.functioning .container {
  display: flex;
  justify-content: space-between;
}
.functioning_card {
  background-color: whitesmoke;
  padding: 12px;
  border-radius: 1.5em;
  margin: 4vmin 5vmin 4vmin 30px;
  position: relative;
  box-shadow: 5px 5px 30px -0.8em #9e9d9d;
}
@media (min-width: 1400px) {
  .functioning_card {
    width: 25%;
    padding: 0;
  }
}
.functioning_card_text {
  font-size: 1.1em;
  font-weight: 500;
}
.functioning_card_number {
  border-radius: 2em;
  padding: 5px 10px 5px 10px;
  background-color: #9356DC;
  position: absolute;
  left: -15px;
  color: white;
  font-size: 0.9em;
}
.functioning_card_icone {
  margin: 0 20px 0 20px;
  color: #666666;
  font-size: 1.4em;
}

.restaurants {
  padding: 30px 0 50px 0;
  background-color: whitesmoke;
}
@media (min-width: 599px) {
  .restaurants {
    padding: 30px 13vw 50px 13vw;
  }
}
@media (min-width: 1400px) {
  .restaurants {
    padding: 30px 13vw 50px 13vw;
  }
}
.restaurants .container {
  display: flex;
  justify-content: space-between;
}
.restaurants_card {
  height: 60vmin;
  object-fit: contain;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  margin: 4vmin 5vmin 4vmin 5vmin;
  box-shadow: 5px 5px 30px -0.8em #9e9d9d;
}
@media (min-width: 599px) {
  .restaurants_card {
    margin: 4vmin 1vw 4vmin 1vw;
    height: 45vw;
  }
}
@media (min-width: 1400px) {
  .restaurants_card {
    margin: 4vmin 1vw 4vmin 1vw;
    width: 33.3vw;
    height: 22vw;
  }
}
.restaurants_card--reframe img {
  object-position: 0 -170px;
}
.restaurants_card img {
  width: 100%;
  border-radius: 1em;
  height: auto;
  object-fit: cover;
}

.restaurants_card_footer {
  height: 30%;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 1em 1em;
  width: 100%;
  overflow: hidden;
}
.restaurants_card_footer h3 {
  padding: 0 12px 0 12px;
  margin: 5% 0 0.3em 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 700;
}
.restaurants_card_footer p {
  padding-left: 12px;
  margin: 0 0 5% 0;
  font-size: 1.1em;
  font-weight: 100;
}
.restaurants_card_footer_icone {
  position: relative;
}
.restaurants_card_footer_icone .icone-1 {
  color: linear-gradient(#FF79DA, #a16be0);
  transition: opacity 0.2s;
}
.restaurants_card_footer_icone .icone-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: -webkit-linear-gradient(#FF79DA, #a16be0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
  transition: transform opacity 0.5s;
}
.restaurants_card_footer_icone:hover .icone-1 {
  opacity: 0;
}
.restaurants_card_footer_icone:hover .icone-2 {
  opacity: 1;
  z-index: 1;
}

.return_icone {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 0.7em;
}

.menu {
  background-color: whitesmoke;
  border-radius: 3em 3em 0 0;
  padding: 5vmin;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1400px) {
  .menu {
    padding: 30px 13vw 50px 13vw;
  }
}
@media (min-width: 1400px) {
  .menu .container_menu {
    display: flex;
    justify-content: space-between;
  }
}
.menu_name {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-size: 1.7em;
  display: flex;
  justify-content: space-between;
}
.menu_subtitle {
  font-size: 1.3em;
  font-weight: 100;
  line-height: 1.6em;
  width: 10%;
  border-bottom: 3px solid #99E2D0;
  padding-top: 30px;
  text-transform: uppercase;
}
.menu .button {
  margin: 30px auto 0 auto;
  padding: 18px 50px 18px 50px;
}

.menu_card {
  background-color: white;
  border-radius: 1.5em;
  box-shadow: 5px 5px 30px -0.8em #9e9d9d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  overflow: hidden;
  margin: 5vmin 0 5vmin 0;
}
.menu_card--1 {
  animation: appear-card 3s backwards;
  animation-delay: calc(1s * 0.2);
}
.menu_card--2 {
  animation: appear-card 3s backwards;
  animation-delay: calc(2s * 0.2);
}
.menu_card--3 {
  animation: appear-card 3s backwards;
  animation-delay: calc(3s * 0.2);
}
@media (min-width: 1400px) {
  .menu_card {
    width: 23vw;
    margin: 4vmin 0 4vmin 0;
  }
}
.menu_card_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: width 0.4s linear;
  margin-left: 4%;
  width: 100%;
  overflow: hidden;
}
.menu_card_text_titre {
  padding-bottom: 11px;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.menu_card p {
  font-size: 1.1em;
  font-weight: 100;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu_card_price {
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 20px;
}
.menu_card_anim-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  transition: width 0.4s linear;
  width: 0;
  height: 100%;
}
.menu_card_anim-confirm-icone {
  color: white;
  font-size: 1.3em;
  font-weight: 100;
  line-height: 1.6em;
}
.menu_card:hover .menu_card_anim-confirm {
  width: 35%;
}
.menu_card:hover .menu_card_anim-confirm-icone {
  animation: rotate-icone 0.4s linear;
}

main {
  background-color: whitesmoke;
}

@keyframes rotate-icone {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear-card {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  padding: 20px;
  background-color: #333333;
  color: #e6e6e6;
}
@media (min-width: 1400px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 13vw 0 13vw;
  }
}
.footer_logo {
  font-family: "Shrikhand", cursive;
}
.footer_text {
  font-size: 1.1em;
  font-weight: 400;
  color: #e6e6e6;
}
.footer_text_icones {
  padding-right: 10px;
}

/*# sourceMappingURL=main.css.map */
