body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


a:hover{
    @include screen-only {
        transform: scale(1.1);
        transition: 100ms;
    }
}
