// color//
$first-color: #9356DC;
$second-color: #FF79DA;
$thurd-color: #99E2D0;
$grey-section: lighten(grey, 46%);
$grey-shadow: #9e9d9d;

$gradient-color: linear-gradient($second-color, $first-color);
$gradient-color-light: linear-gradient($second-color, lighten($first-color, 8%));

//layout

// space//

$pad-top-section: 30px;
$pad-end-section: 50px;

$pad-container-text: 1.4vw;
$general-margin: 5vmin;
$min-general-margin: 4vmin;

$padding-screen: 13vw;


@mixin space-section {
    padding: $pad-top-section 0 $pad-end-section 0;
}

//padding-section 
@mixin space-section-screen {
    padding: $pad-top-section $padding-screen $pad-end-section $padding-screen;
}

@mixin space-section-medium-screen {
    padding: $pad-top-section $padding-screen $pad-end-section $padding-screen;
}

@mixin box-shadow ($color) {
    box-shadow: 9px 9px 15px -0.5em $color;
}


// images url
$images-restau: (img-1: url("../images/restaurants/la-palette-du-gout-4402.jpg"),
    img-2: url("../images/restaurants/la-note-enchantee-3024.jpg"),
    img-3: url("../images/restaurants/a-la-francaise-3936.jpg"),
    img-4: url("../images/restaurants/le-delice-des-sens-3641.jpg"));



// générateur de classe pour les url images background
@for $i from 1 through 4 {
    .img_background_#{$i} {
        background-image: map-get($images-restau, img-#{$i});
        background-repeat: no-repeat;
        background-size: cover;
        height: 36vmax;
        z-index: 0;

    }
}

//animation page-menu
$animation-delay: 0.1;

//loader
$delay: 0.5s;
$duration: 1.2s;

//--modules size loader --
$grid-width:1.2vmax;
$grid-height: 6vmax;

$final-tilt : (no-tilt: 0deg,
    positive-tilt: 10deg,
    negative-tilt: -10deg);

//une inclinaison différente pour chaque module de la map tilt
@each $tilt,
$deg in $final-tilt {
    @keyframes rotation--#{$tilt} {

        0% {
            transform: rotate(random(240)+deg);
        }

        33% {
            transform: rotate(random(180)+deg);

        }

        66% {
            transform: rotate(random(90)+deg);
        }

        100% {
            transform: rotate(map-get($final-tilt, $tilt));
        }
    }
}

@keyframes loader {
    100% {
        opacity: 0;
        z-index: -5;
    }
}