// header//

.header {
    display: flex;
    justify-content: space-around;
    // y , x, blur, spread//
    position: relative;
    z-index: 1;
    @include box-shadow($grey-shadow);

    .header_logo {
        text-align: center;
        @include font-logo;
        font-size: 2em;
        margin-bottom: 0;
    }
}

