// header//

.header {
    display: flex;
    justify-content: space-around;
    // y , x, blur, spread//
    position: relative;
    z-index: 2;

    box-shadow: 0 15px 25px -1.4em $grey-shadow;
    @include screen-only {

        // ! on ne retrouve plus la barre du dessous du coup//

        position: fixed;
        background-color: white;
        width:100%;


   

    }


    .header_logo {
        text-align: center;
        @include font-logo;
        font-size: 2em;
        margin-bottom: 0;

}
    }



