$medium-breakpoints:  599px;
$screen-breakpoints:  1400px;



// mixin avec les propriétées responsive, après tu mets un include dans les sections
// ---> @include screen-only { le contenu du responsive}

 @mixin screen-only{
    @media (min-width: $screen-breakpoints) { @content;
 }
}

@mixin medium-screen-only{
   @media (min-width: $medium-breakpoints) { @content;
}
}


