$medium-breakpoints:  599px;
$little-screen-breakpoints:  1000px;
$screen-breakpoints:  1300px;

 @mixin screen-only{
    @media (min-width: $screen-breakpoints) { @content;
 }
}

@mixin tablette-screen-only{
   @media (min-width: $medium-breakpoints) { @content;
}
}

@mixin little-screen-only{
   @media (min-width: $little-screen-breakpoints) { @content;
}
}


