// discovery//
.discovery {
    background-color: $grey-section;
    text-align: center;
    padding-bottom: $pad-end-section;


    &_form {

        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: $pad-container-text;
        background-color: darken($grey-section, 5%);

        &_text {
            text-align: center;
            border: none;
            max-width: $card-width;
            background-color: darken($grey-section, 5%);
            @include text-standard(100);

            @include screen-only {
                // regler la visibilité de la barre de recherhcz//
                margin-top: 70px;
            }

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: black;
            }
        }

        i {
            @include text-standard(0);
        }
    }
}

// Function //

.functioning {

    @include space-section;

    //padding-left-right
    @include screen-only {
        @include space-section-screen;
    }


    @include medium-screen-only {
        @include space-section-medium-screen;
    }


    .container {
        display: flex;
        justify-content: space-between;

    }

    &_card {


        background-color: $grey-section;
        padding: $pad-container-text;
        border-radius: 1.5em;
        margin: $min-general-margin $general-margin $min-general-margin 30px;
        position: relative;

        @include box-shadow($grey-shadow);

        @include screen-only {
            width: 25%;
            display: flex;
            justify-content: sp;
            padding: 0 25px 0 0;
        }

        &_text {
            @include text-standard(500);
        }

        &_number {
            border-radius: 2em;
            padding: 5px 10px 5px 10px;
            background-color: $first-color;
            position: absolute;
            left: -15px;
            color: white;
            font-size: 0.9em
        }

        &_icone {
            margin: 0 20px 0 20px;
            color: lighten(black, 40%);
            font-size: 1.4em;
        }

    }
}


.restaurants {


    @include space-section;
    background-color: $grey-section;

    //padding-left

    @include medium-screen-only {
        @include space-section-medium-screen;
    }

    @include screen-only {
        @include space-section-screen;

    }



    .container {
        display: flex;
        justify-content: space-between;


    }

    &_card {

        height: 60vmin;
        object-fit: contain;
        border-radius: 1em;

        position: relative;
        overflow: hidden;
        margin: $min-general-margin $general-margin $min-general-margin $general-margin;
        @include box-shadow($grey-shadow);

        @include medium-screen-only {

            margin: $min-general-margin 1vw $min-general-margin 1vw;
            height: 45vw;

        }

        @include screen-only {
            //flex-wrap ne prend pas en charge les poucentages 
            margin: $min-general-margin 1vw $min-general-margin 1vw;

            width: 33.3vw;
            height: 22vw;
        }

        img {
            width: 100%;
            border-radius: 1em;
            height: auto;
            object-fit: cover;
            object-position: 0 -30px;

            @include screen-only {
                object-position: 0 -100px;
            }

        }

    }

}


.restaurants_card_footer {
    height: 10vh;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 0 0 1em 1em;
    width: 100%;
    overflow: hidden;


    &_text {
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 1% $pad-container-text 0 $pad-container-text;
        margin: 0;
    }

    .heart_icone {
        position: absolute;
        top: -30%;
        right: -7%;

        @include medium-screen-only {
            top: -13%;
            right: 0;
        }
    }

    h3 {
        line-height: 2em;
        ;
        margin: 0;
        //  padding: 0 $pad-container-text 0 $pad-container-text;
        // margin: 5% 0 0.3em 0;

        @include text-standard(700);
    }

    p {
        margin: 0;
        //   padding-left: $pad-container-text;
        //   margin: 0 0 5% 0;
        @include text-standard(100);
    }

}



//loader
//racourcir c'est trop long !!!

 
.loader {

    justify-content: center;
    align-content: center;
    background-color: $grey-section;
    position: fixed;
    z-index: 3;

    height:100%;
    width: 100%;
    
    opacity: 0.98;
   animation: loader 0.01s 2.8s forwards;

     display: grid;
     grid-template-columns: $grid-width $grid-height/2  $grid-height/3 $grid-width $grid-height/2 $grid-width $grid-height/2 $grid-width $grid-height/3  $grid-height/2 $grid-width;
     grid-template-rows: $grid-height/2 $grid-width $grid-height/2 $grid-width $grid-height;
     grid-gap: 0.2vw;

    &_text {
        color:$first-color;
        width: 100%;
        text-align: center;
position: absolute;
bottom: 0;
        @include text-standard(400);  

  }
}
   
   .rectangle {
       border-radius: 0.9em;
       background-color: $first-color;
       box-shadow: -1px -1px 5px 0.01em lighten(grey, 25%);
   }
   
   .pied-1 {
       grid-column: 8/9;
     grid-row:  5/6 ;
    animation: rotation--positive-tilt $duration $delay both;
   
   }
     
   .pied-2 {
   grid-column: 11/12;
     grid-row:  5/6 ;
    animation: rotation--negative-tilt $duration $delay both;
   
   
   
   }
       
   .assise {
       grid-column: 9/11;
     grid-row:  4/5 ;
    animation: rotation--no-tilt $duration $delay both;
   }
   
   .dossier {
      grid-column: 11/12;
     grid-row:  1/4 ;
    animation: rotation--positive-tilt $duration $delay both;
   }
   
   .pied-gauche-1 {
   grid-column: 1/2;
     grid-row:  5/6 ;
    animation: rotation--positive-tilt $duration $delay both;
   
   }
   
   .pied-gauche-2 {
    grid-column: 4/5;
     grid-row:  5/6 ;
      animation: rotation--negative-tilt $duration $delay both;
   }
   
   
   .assise-gauche {
     grid-column: 2/4;
     grid-row:  4/5 ;
    transform: rotate(0deg);
    animation: rotation--no-tilt $duration $delay both;
   }
   
   .dossier-gauche {
   
       grid-column: 1/2;
     grid-row:  1/4 ;  
      animation: rotation--negative-tilt $duration $delay both;
   }
   
   .table {
     grid-column: 3/10;
     grid-row:  2/3 ;
    transform: rotate(0deg);
    animation: rotation--no-tilt $duration $delay both;
   }
   
   .pied-table {
     //  transform-origin: (0);
   grid-column: 6/7 ;
   grid-row:  3/6 ;
     animation: rotation--no-tilt $duration $delay both;
   }
   
   
   
   
   
   