// discovery//
.discovery {
    background-color: $grey-section;
    text-align: center;
    padding-bottom: $pad-end-section;


    &_form {

        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: $pad-container-text;
        background-color: darken($grey-section, 5%);

        &_text {
            text-align: center;
            border: none;
            max-width: $card-width;
            background-color: darken($grey-section, 5%);
            @include text-standard(100);

            @include screen-only {
                // regler la visibilité de la barre de recherhcz//
                margin-top: 70px;
            }

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: black;
            }
        }

        i {
            @include text-standard(0);
        }
    }
}

// Function //

.functioning {

@include space-section;

      //padding-left-right
      @include screen-only {
      @include space-section-screen;
    }


    @include medium-screen-only {
        @include space-section-medium-screen;
      }


.container{
    display: flex;
justify-content: space-between;

}
    &_card {
  

        background-color: $grey-section;
        padding: $pad-container-text;
        border-radius: 1.5em;
    margin: $min-general-margin $general-margin $min-general-margin 30px ;
        position: relative;
    
        @include box-shadow($grey-shadow);

        @include screen-only {
            width: 25%; 
            padding: 0;
        }
        
        &_text {
            @include text-standard(500);
        }

        &_number {
            border-radius: 2em;
            padding: 5px 10px 5px 10px;
            background-color: $first-color;
            position: absolute;
            left: -15px;
            color: white;
            font-size: 0.9em
        }

        &_icone {
            margin: 0 20px 0 20px;
            color: lighten(black, 40%);
            font-size: 1.4em;
        }

    }
}


.restaurants {


    @include space-section;
    background-color: $grey-section;

    //padding-left

    @include medium-screen-only {
        @include space-section-medium-screen;
      }

    @include screen-only {
        @include space-section-screen;

    }



    .container{
        display: flex;
        justify-content: space-between;
    
    
    }

    &_card {

        height: 60vmin;
        object-fit: contain;
        border-radius: 1em;

        position: relative;
        overflow: hidden;
        margin: $min-general-margin $general-margin $min-general-margin $general-margin ;
        @include box-shadow($grey-shadow);


        @include  medium-screen-only{
     
            margin: $min-general-margin 1vw $min-general-margin 1vw ;
            height: 45vw;
         
        }


        @include screen-only {
            //flex-wrap ne prend pas en charge les poucentages 
            margin: $min-general-margin 1vw $min-general-margin 1vw ;

            width: 33.3vw;
            height: 22vw;
        }

      
        &--reframe img {
            object-position: 0 -170px;
        }

        img {
            width: 100%;
            border-radius: 1em;
            height: auto;
            object-fit: cover;
        }
    }

}


.restaurants_card_footer {
    height: 30%;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 0 0 1em 1em;
    width: 100%;
    overflow: hidden;

    h3 {
        padding: 0 $pad-container-text 0 $pad-container-text;
        margin: 5% 0 0.3em 0;
        display: flex;
        justify-content: space-between;
        @include text-standard(700);
    }

    p {
        padding-left: $pad-container-text;
        margin: 0 0 5% 0;
        @include text-standard(100);
    }

    //HEART
    &_icone {
      // position: relative;
      display: flex;

       /* .icone-1 {
            color: $gradient-color;
            transition: opacity 0.2s;

        }

        .icone-2 {

            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            background-image: $gradient-color;
      
          background-image: -webkit-linear-gradient($second-color, lighten($first-color, 5%));
          background-image: -moz-linear-gradient($second-color, lighten($first-color, 5%));
         -webkit-background-clip: text;
         -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            transform: scale(1.2);
            transition: transform opacity 0.5s;
        }


        &:hover .icone-1 {
            opacity: 0;
        }

        &:hover .icone-2 {
            opacity: 1;
            z-index: 1;


        }
  */  }

}


.container-coeur-contour{
    overflow: hidden;
    position: relative;
    clip-path: url(#svgPath);
      //taille du background;
      height:100px;
     width:100px;
    transform: scale(0.2);
    
    
    }
    
    #coeur-contour{
        fill:none;
      stroke:black;
      stroke-width:1em;
    
    
    }
    
    .background {
    
      opacity: 1;
      position: absolute;
      top: 0;
      background:$gradient-color;
     transform: translateY(100px) ;
        transition: transform 0.5s ease-out;
        width:100%;
      height:100%;
    
    }
    
    .container-coeur-contour:hover .background {
    
     transform: translateY(0) ;
    
     }