// discovery//
.discovery {
    background-color: $grey-section;
    text-align: center;
    padding-bottom: $pad-end-section;


    &_form {

        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 20px;
        background-color: darken($grey-section, 5%);

        &_text {
            text-align: center;
            border: none;
            max-width: 150px;
            background-color: darken($grey-section, 5%);
            @include text-standard(100);

            @include screen-only {
                // for the visibility of the search bar under the logo(header)//
                margin-top: 70px;
            }


            &:focus {
                outline: none;
            }

            &::placeholder {
                color: black;
            }
        }

        i {
            @include text-standard(0);
        }
    }
}

// functionnning //

.functioning {

    @include space-section;

    //global padding-left-right
    @include screen-only {
        @include space-section-screen;
    }

    @include tablette-screen-only {
        @include space-section-medium-screen;
    }

    //!base style in html/component page
    .container {
        display: flex;
        justify-content: space-between;
        padding: 0;
        //bigger padding-left for the strech of the numbers 
        margin: $general-margin $min-general-margin 0 7vw;

        @include screen-only {
            //important! removal of unnecessary margins
            margin: $general-margin 0 0 2vw;
        }
    }


    &_card {

        display: flex;
        align-items: center;
        margin-bottom: 30px;
        background-color: $grey-section;
        border-radius: 1.5em;
        position: relative;
        @include box-shadow ($grey-shadow);

        &--color {
            background-color: lighten($first-color, 37%);
        }

        &_text {
            @include text-standard(500);
            overflow: hidden;
            // size of the card
            margin: 25px 20px 25px 20px;
        }

        &_number {
            border-radius: 2em;
            padding: 5px 10px 5px 10px;
            background-color: $first-color;
            position: absolute;
            left: -15px;
            color: white;
            font-size: 0.9em
        }

        &_icone {
            padding-left: 20px;
            color: lighten(black, 40%);
            font-size: 1.3em;

            &--color {
                color: $first-color;
            }
        }

    }
}

//restaurants

.restaurants {

    @include space-section;
    background-color: $grey-section;

    //global padding-left
    @include tablette-screen-only {
        @include space-section-medium-screen;
    }

    @include screen-only {
        @include space-section-screen;
    }

    &_card {

        height: 60vmin;
        object-fit: contain;
        border-radius: 1em;
        position: relative;
        overflow: hidden;
        margin: $min-general-margin $general-margin $min-general-margin $general-margin;
        @include box-shadow($grey-shadow);

        &_nouveau {
            background-color: $thurd-color;
            color: darken($thurd-color, 30%);
            box-shadow: 6px 6px 8px -0.5em black;
            padding: 2%;
            position: absolute;
            top: 3%;
            right: 2%;
    
        }

        @include box-shadow($grey-shadow);

        @include tablette-screen-only {
            margin: $min-general-margin 1vw $min-general-margin 1vw;
            height: 40vmax;
        
        }

        @include little-screen-only {
            height: 23vw;
            width: 30vw;
        }

        @include screen-only {
            height: 20vmax;
            width: 33.4vw;
        }

        img {
            width: 100%;
            border-radius: 1em;
            height: auto;
            object-fit: cover;
            object-position: 0 -4vw;
        }
    }
}


.restaurants_card_footer {
    height: 33%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 0 0 1em 1em;
    overflow: hidden;

    &_text {
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 1% 0.5% 0 3%;
        margin: 0;
    }

    .heart_icone {
        position: absolute;
        top: -30%;
        right: -6%;

        @include tablette-screen-only {
            top: -13%;
            right: 0;
        }
    }

    h3 {
        line-height: 2em;
        margin: 0;
        @include text-standard(700);
    }

    p {
        margin: 0;
        @include text-standard(100);
    }

}

//loader
.loader {

    justify-content: center;
    align-content: center;
    background-color: $grey-section;
    position: fixed;
    z-index: 3;
  
    height: 100%;
    width: 100%;

    opacity: 0.98;
    //général animation 
    animation: loader 0.01s 2.5s forwards;

    display: grid;
    grid-template-columns: $grid-width $grid-height/2 $grid-height/3 $grid-width $grid-height/2 $grid-width $grid-height/2 $grid-width $grid-height/3 $grid-height/2 $grid-width;
    grid-template-rows: $grid-height/2 $grid-width $grid-height/2 $grid-width $grid-height;
    grid-gap: 0.2vw;

    &_text {
        color: $first-color;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        @include text-standard(400);

    }
}

.rectangle {
    border-radius: 0.9em;
    background-color: $first-color;
    box-shadow: -1px -1px 5px 0.01em lighten(grey, 25%);
}

.pied-1 {
    grid-column: 8/9;
    grid-row: 5/6;
    animation: rotation--positive-tilt $duration+0.4s $delay both;

}

.pied-2 {
    grid-column: 11/12;
    grid-row: 5/6;
    animation: rotation--negative-tilt $duration $delay both;
}

.assise {
    grid-column: 9/11;
    grid-row: 4/5;
    animation: rotation--no-tilt $duration $delay both;
}

.dossier {
    grid-column: 11/12;
    grid-row: 1/4;
    animation: rotation--positive-tilt $duration $delay both;
}

.pied-gauche-1 {
    grid-column: 1/2;
    grid-row: 5/6;
    animation: rotation--positive-tilt $duration $delay both;

}

.pied-gauche-2 {
    grid-column: 4/5;
    grid-row: 5/6;
    animation: rotation--negative-tilt $duration $delay both;
}


.assise-gauche {
    grid-column: 2/4;
    grid-row: 4/5;
    transform: rotate(0deg);
    animation: rotation--no-tilt $duration $delay both;
}

.dossier-gauche {

    grid-column: 1/2;
    grid-row: 1/4;
    animation: rotation--negative-tilt $duration+0.6s $delay both;
}

.table {
    grid-column: 3/10;
    grid-row: 2/3;
    transform: rotate(0deg);
    animation: rotation--no-tilt $duration+0.3s $delay both;
}

.pied-table {
    //  transform-origin: (0);
    grid-column: 6/7;
    grid-row: 3/6;
    animation: rotation--no-tilt $duration $delay both;
}