.return_icone {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 0.7em;
}


.container_menu{

    @include mobile-only {
  display: flex;
  justify-content: space-around;
    }

}
.menu {
    background-color: $grey-section;
    border-radius: 3em 3em 0 0;
    padding: $min-general-margin;
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_name {
        @include font-logo;
        @include title-section;
        display: flex;
        justify-content: space-between;
    }

    &_subtitle {
        @include text-subtitle(100);
        border-bottom: 3px solid $thurd-color;
        width: 40px;
        padding-top: $pad-top-section;
        text-transform: uppercase; 
        @include mobile-only {
        margin-left: 20px;
              }   
    }

    .button {
        margin: 30px auto 0 auto;
        padding: 18px 50px 18px 50px;
    }

}

.menu_card {
    background-color: white;
    border-radius: 1.5em;
    @include box-shadow ($grey-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  0 $min-general-margin 0 $min-general-margin;
    margin: $general-margin 0 $general-margin 0;
    height: 90px;

    @include mobile-only {
        margin: 20px;
        width: 28vw;
    }
    
    &_text {
        @include text-subtitle(400);
        margin: 0;


    }

    p {
        @include text-standard(100);
        margin: 0;
        display: flex;
        justify-content: space-between;
        z-index: 0;


        em {
            @include text-standard(400);
            font-style: normal;
            background-color: white;
            padding-left: 20px;
            z-index: 1;
        }
    }
}

main {
    background-color: $grey-section;

}